@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vollkorn SC", sans-serif;
}

html {
  scrollbar-color: rgb(205, 92, 8) black;
  scrollbar-width: auto;
}

body {
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-height: 100vh;
}

form input[type=submit] {
  padding: 8px 15px;
  background-color: rgb(205, 92, 8);
  color: white;
  border: none;
  border-radius: 5px;
  transition-property: background-color;
  transition-duration: 2s;
  margin-top: 10px;
}
form input[type=submit]:hover {
  background-color: rgb(106, 156, 137);
}

header button {
  padding: 10px;
  height: 50px;
  background-color: rgb(106, 156, 137);
  color: white;
  border: none;
  border-radius: 5px;
  transition-property: background-color;
  transition-duration: 2s;
  margin-top: 10px;
  margin-right: 15px;
}
header button:hover {
  background-color: rgb(193, 216, 195);
}

.card_detalle button {
  background-color: rgb(193, 216, 195);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 80px;
}
.card_detalle .volver__btn {
  border: none;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  color: rgb(205, 92, 8);
  margin-block: 5px;
  margin-left: -5px;
  width: auto;
}
.card_detalle .volver__btn:hover {
  text-decoration: underline;
}

.cerrar_editar {
  background-color: rgb(193, 216, 195);
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.contenedor-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
@media (min-width: 970px) {
  .contenedor-cards {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
  }
}

.card {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(198, 223, 200);
  overflow: hidden;
  width: 300px;
  height: 320px;
}
.card .img__card {
  overflow: hidden;
  height: 50%;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card div {
  padding: 20px;
}
.card h2 {
  font-size: 1.125rem;
  margin-bottom: 10px;
}
.card button {
  background-color: rgb(106, 156, 137);
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.card button:hover {
  background-color: rgb(91, 143, 185);
}

.card_detalle {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-height: 600px;
  min-width: 300px;
  max-width: 600px;
  margin: auto;
}
.card_detalle img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  margin-bottom: 20px;
}
.card_detalle h2 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.card_detalle h3,
.card_detalle p,
.card_detalle span {
  margin-bottom: 10px;
}
.card_detalle .nivel_span {
  font-weight: bolder;
}
.card_detalle .botones_div {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 20px;
  gap: 20px;
}

.seccion__formulario {
  display: none;
}
.seccion__formulario form {
  width: 100%;
  background-color: rgb(223, 230, 230);
  padding: 20px;
  border-radius: 10px;
}
.seccion__formulario .formulario_diseño {
  display: flex;
  flex-direction: column;
}
.seccion__formulario .formulario_diseño label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.seccion__formulario .formulario_diseño input[type=text],
.seccion__formulario .formulario_diseño textarea,
.seccion__formulario .formulario_diseño select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}
@media (min-width: 970px) {
  .seccion__formulario {
    max-width: 600px;
    margin: auto;
  }
}

.formulario__busqueda {
  margin-bottom: 50px;
}

select {
  text-align: center;
  border: 0;
  outline: 0;
  font: inherit;
  width: 300px;
  padding: 15px;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.formulario_agregar select {
  width: 300px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

h1 {
  padding-block: 20px;
  padding-inline: 10px;
  color: white;
  font-size: 1.563rem;
  flex-grow: 1;
  text-shadow: 3px 3px 2px rgb(3, 3, 3);
  text-align: justify;
  font-family: "Vollkorn SC", sans-serif;
}
@media (min-width: 970px) {
  h1 {
    text-align: center;
    font-size: 2.3rem;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(205, 92, 8, 0.8);
}

.modal__card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.modal__card .alerta {
  color: red;
}

.modal__card .modal__btn {
  margin-top: 20px;
}

.modal__card .modal__btn button {
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.borrar {
  background-color: rgb(205, 92, 8);
  color: white;
}
.borrar:hover {
  background-color: darkred;
}

.cancelar {
  border: none;
  text-decoration: none;
  background-color: rgb(193, 216, 195);
  margin-right: 10px;
}
.cancelar:hover {
  text-decoration: underline;
}

.spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  overflow-x: hidden;
}
@media (min-width: 970px) {
  .spinner {
    left: 50%;
  }
}
.spinner img {
  display: block;
}

header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-image: url(./assets/encantado.jpg);
  background-size: cover;
  background-position: center;
  padding-block: 10px;
}

main {
  padding-inline: 30px;
  flex-grow: 1;
}
main h3 {
  text-align: center;
}

.footer {
  background: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  color: white;
}

/*# sourceMappingURL=styles.css.map */
