header{
    display: flex;
    justify-content: center;
    align-items: baseline;
    // background-color: black;
    background-image: url(/assets/pexels-gabby-k-5635103.jpg);
    background-size:cover;
    background-position: center; 
    padding-block: 10px; //en escritorio 20
    //box-shadow: 2px 3px 60px -10px rgb(205, 92, 8);

}
 
