.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(205, 92, 8, 0.8);
}

.modal__card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 400px;
	text-align: center;
}

.modal__card .alerta {
	color: red;
}

.modal__card .modal__btn {
	margin-top: 20px;
}

.modal__card .modal__btn button {
	border: none;
	padding: 8px 16px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.borrar {
	background-color: rgb(205, 92, 8);
	color: white;

	&:hover {
		background-color: darkred;
	}
}
.cancelar {
	border: none;
	text-decoration: none;
	background-color: rgb(193, 216, 195);
	margin-right: 10px;

	&:hover {
		text-decoration: underline;
	}
}
