
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
    gap: 20px;
   
    
}

// Estilos para el contenedor del formulario
.seccion__formulario {
    display: none;
    form {
  width: 100%;
  background-color: rgb(223, 230, 230);
  padding: 20px ;
  border-radius: 10px;
    }

    // Estilos para los elementos del formulario
 .formulario_diseño {
  display: flex;
  flex-direction: column;
} 

// Estilos para las etiquetas de los campos
.formulario_diseño label {
  font-weight: bold;
  margin-bottom: 0.5rem; // Espaciado inferior entre etiquetas
}

// Estilos para los campos de entrada de texto
.formulario_diseño input[type="text"],
.formulario_diseño textarea,
.formulario_diseño select {
  width: 100%; // Ancho completo del campo
  padding: 0.5rem; // Espaciado interno del campo
  margin-bottom: 1rem; // Espaciado inferior entre campos
  border: 1px solid #ccc; // Borde del campo
  border-radius: 0.5rem; // Borde redondeado del campo
}

}


