.spinner {
	display: none;
	position: absolute;
	top: 50%;
	left: 35%; 
	transform: translate(-50%, -50%);
	max-width: 100%;
	overflow-x: hidden;
      @include responsive() {
		left: 50%;
	}
	img {
		display: block;
	}
}
